PRISMA_DB_URL=

TIMER_DURATION=
CONFIRMATION_TIMER_DURATION=
NUXT_PUBLIC_CONFIRMATION_TIMER_DURATION=

LOCALHOST=localhost
NUXT_PUBLIC_LOCALHOST=localhost

PORT= # this is the port Nuxt runs on
PORT_EXPRESS_CONTROLLER_GAMEMANAGER=
PORT_WSS_CONTROLLER_CLIENT=
NUXT_PUBLIC_PORT_WSS_CONTROLLER_CLIENT=
PORT_WSS_CONTROLLER_RASPBERRY=
PORT_GM_RASPBERRY=
PORT_SSE_GM=
NUXT_PUBLIC_PORT_SSE_GM=
PORT_CLIENT_GM=
NUXT_PUBLIC_PORT_CLIENT_GM=
PI_ADDR= 
PI_CAMERA_PORT = 

CONTROLLER_PASSWORD=
CONTROLLER_ACCESS=

NUXT_CHANNEL_NAME=
NUXT_PARENT_NAME=

JWT_SECRET=
NUXT_AUTH0_CLIENTID=
NUXT_AUTH0_SECRET=
NUXT_BASEURL=
NUXT_ISSUER=
